<section data-bs-version="5.1" class="features15 mt-5 mb-5" id="features16-9">
   <div class="container" id="about">
      <div class="content-wrapper">
         <div class="row align-items-center">
            <div class="col-12 col-lg">
               <div class="text-wrapper">
                     <h4 class="card-title mbr-fonts-style">
                        <strong>
                           {{#ifEquals lang 'ru'}}
                              О нас
                           {{else}}
                              Biz haqimizda
                           {{/ifEquals}}
                        </strong>
                     </h4>
                     <p class="mbr-text mbr-fonts-style mb-4">
                        {{#ifEquals lang 'ru'}}
                           В процессе производства искусственного камня в Ташкенте используется самое современное оборудование от мировых поставщиков, что позволяет выпускать высокотехнологичный искусственный кварцевый камень.Наша продукция пользуется спросом в разных сферах. Кварцевые камень можно использовать в торговых центрах, больницах, банках, офисах, гостиницах и обычных домах. Благодаря специальному набору характеристик, искусственный кварцевый камень прослужит долгое время, не теряя яркости и цвета, и отличается своей низкой радиоактивностью.
                        {{else}}
                           Toshkent shahrida sun’iy tosh ishlab chiqarish jarayonida jahon yetkazib beruvchilarining eng zamonaviy uskunalari qo‘llanilayotgani yuqori texnologiyali sun’iy kvarts toshini ishlab chiqarish imkonini bermoqda.Mahsulotlarimiz turli sohalarda xaridorgir. Kvarts toshini xarid qilish markazlarida, kasalxonalarda, banklarda, ofislarda, mehmonxonalarda va oddiy uylarda ishlatish mumkin. Maxsus xususiyatlar to'plami tufayli sun'iy kvarts tosh yorqinligi va rangini yo'qotmasdan uzoq vaqt xizmat qiladi va past radioaktivligi bilan ajralib turadi.
                        {{/ifEquals}}
                     </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>