<div id="layoutSidenav_nav">
   <nav class="sb-sidenav accordion sb-sidenav-dark" style="height: 92vh;" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
         <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/dashboard">
               <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
               Yangiliklar
            </a>
         </div>
      </div>
   </nav>
</div>