<section data-bs-version="5.1" class="contacts3 map1 cid-sFAOgbarYq" id="contacts3-c">  
   <div class="container">
      <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-6">
               <strong>
                  {{#ifEquals lang 'ru'}}
                     Контакты
                  {{else}}
                     Bog'lanish
                  {{/ifEquals}}
               </strong>
            </h3>
            
      </div>
      <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
               <div class="card-wrapper">
                  <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri" style="color: rgb(5, 56, 107); fill: rgb(5, 56, 107);"></span>
                  </div>
                  <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-7">
                           <strong>
                              {{#ifEquals lang 'ru'}}
                                 Телефон
                              {{else}}
                                 Telefon
                              {{/ifEquals}}
                           </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">+99895 145-80-01</p>
                  </div>
               </div>
               <div class="card-wrapper">
                  <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri" style="color: rgb(5, 56, 107); fill: rgb(5, 56, 107);"></span>
                  </div>
                  <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-7">
                           <strong>
                              {{#ifEquals lang 'ru'}}
                                 Эл. адрес
                              {{else}}
                                 Email
                              {{/ifEquals}}
                           </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">1suvonovnurbek@gmail.com</p>
                  </div>
               </div>
            </div>
            
            <div class="map-wrapper col-12 col-md-6">
               <div class="google-map">  
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10450.79465897151!2d65.75862782739608!3d38.85444500866314!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e6a962ca599671a!2zMzjCsDUxJzE5LjgiTiA2NcKwNDUnMTkuOCJF!5e0!3m2!1sru!2s!4v1652189408142!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
      </div>
   </div>
</section>